.yue {
  font: 400 22px/1.62 -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
  color: #444443;
}

.windows .yue {
  font-size: 22px;
}

.yue li {
  line-height: inherit;
}

.brand #blog-title {
  font-size: 1.75em;
}

header {
  /* margin-bottom: 1em; */
  /* border-bottom: 2px solid #aaa; */
}

span[class^="section-number-"] {
  padding-right: 0.35em;
}

span.section-number-2::after {
  content: ".";
}

time.listdate {
  padding-right: 0.75em;
}

ul.postlist>li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  font-size: 22px;
  /* line-height: 1.75em; */
  height:100%;
  max-width: 1200px;
  min-width: 320px;
  margin:0 auto 0;
}

h1{
  font-size:1.5em;
  /* text-align:center; */
  margin-top:2em;
  margin-bottom:0.5em;
}

h2,h3{
  font-size:1.25em;
  padding-bottom: 0.25em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h2 {
  /* border-bottom: #777777 1px solid; */
}

h4,h5,h6 {
  font-size:1.125em;
  padding-bottom: 0.25em;
}

article .metadata {
  font-size: 0.9rem;
  margin-bottom: 0.25em;
}

article.h-entry {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
article.h-entry header {
  /*   display: grid; */
  /*   grid-template-columns: 1fr 10em; */
}

article.h-entry header h1 {
  /* float: left; */
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

article.h-entry header .post-date {
  /* font-size: 0.618em; */
  /* float: right; */
  /* padding-left: 1em; */
  /* bottom: 0; */
  /* right: 0; */
  text-align-last: right;
  align-self: center;
  margin-right: 0.5rem;
}

.entry-content {
  margin-bottom: 2em;
}

article.postpage header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: #777777 1px solid;
}

ul.tags {
  display: block;
  text-align: left;
  margin-left: unset;
  padding-left: unset;
}

pre.literal-block,
pre.code {
  font-size: 0.95em;
  margin-right: 0em;
  margin-left: 0em;
}

article.h-entry {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}


.entry-summary {
  margin-top: 1em;
  margin-bottom: 4em;
}


.entry-content a{
  color: #0088cc
}

.postindex h1 {
  margin-top: 1.75em;
  margin-bottom: 0.25em;
}

.postlist .listdate::before {
  content: "";
}

.postlist .listdate:after {
  content: "";
}

.footpara {
  display: inline;
  margin-left: 0.25em;
}

.footdef sup {
  top: inherit;
  font-size: inherit;
}

.footdef sup:after {
  content: "."
}

#table-of-contents h2 {
  padding-left: 0.6em;
}

#table-of-contents a {
  color: inherit;
}
#table-of-contents li {
  list-style-type: none;
}

.listtitle {
  /* margin-left: 2em; */
  /* text-indent: -2em; */
 }